body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header{
    font-family: 'Raleway Dots', cursive;
    font-size: 34px;
    color: #e30909;
    text-align: center;
    margin-bottom: 20px;
}

.textCenter{
	text-align: center;
}

.speedometer{
	height:250px;
}

.lineChart{
	left:300px;
}